<div *ngIf="hero">
    
    <div id="name-hero">
      <h2>{{hero.name | uppercase}} <span> - ID: </span>{{hero.id}} </h2>
    </div>

     <mat-form-field class="full-width">
      <mat-label>Hero name</mat-label>
      <input matInput placeholder="Hero name" [(ngModel)]="hero.name">
    </mat-form-field>

    <br>
    <mat-form-field class="full-width">
      <mat-label>Hero Description:</mat-label>
      <textarea matInput [(ngModel)]="hero.description" placeholder="Hero Description"></textarea>
    </mat-form-field>

    <br>

    <mat-form-field class="full-width">
      <mat-label>Hero image url: </mat-label>
      <input matInput [(ngModel)]="hero.imageUrl" placeholder="Hero Image">
    </mat-form-field>
    <br>
    <div>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Universe</mat-label>
        <mat-select [(ngModel)]="hero.universe" name="universe">
          <mat-option *ngFor="let universe of heroUniverses" [value]="universe">
            {{universe | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <br>
    <div id="button-back-save">
      <button  mat-raised-button (click)="goBack()">go back</button>
      <button  mat-raised-button color="primary" (click)= "save()">save</button>
    </div>
    

</div>